html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #a0b5bd;
}
